
  body {
    margin: 0;
    overflow: hidden;
    background: black;
  }

  header {
    position: relative;
    z-index: 10;
    text-align: center;
    color: white;
  }
 footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.5); /* optional background */
  padding: 8px 0;
  z-index: 10;
}
/* Game ke start hone ke baad header hide ho jaye */
#header.hidden {
  display: none;
}

  #game {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
h1{
  color: greenyellow;
}
  /* ===== START SCREEN ===== */
#startScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("assets/start-bg.png") no-repeat center center / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gameTitle {
  width: 320px;      /* desktop */
  max-width: 85%;    /* mobile */
  margin-bottom: 25px;
}
#game {
    display: none;
      position: fixed;
        inset: 0;
          z-index: 1;  
}
#startBtn {
  padding: 14px 40px;
  font-size: 22px;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgb(245, 133, 4);
}
